html,body {
height:100%;
margin:0;
padding:0;
}

#wrapper {
min-height:100%;
position:relative;
}

.clearPRButton{
	color:white;
}
.error {
color:#A80000;
font-weight:700;
}

select {
border:#000;
padding:0;
}

header {
background:#000;
line-height:-14%;
height:60px;
background-image:url(RunSpot_logo.png);
background-repeat:no-repeat;
background-size:10.5%;
text-indent:170px;
padding-top:22px;
font-family:"Comic Sans MS", cursive, sans-serif;
font-size:20pt;
font-weight:400;
color:#FFF;
box-shadow:10px 10px 10px #888;
margin:0;
}

head {
background:#C36;
font-family:'Source Sans Pro', sans-serif;
font-size:12pt;
font-weight:400;
color:#000;
padding:0;
}

h1,h2,h3 {
margin:10px;
padding:0;
}

#navigation {
margin-left:auto;
margin-right:auto;
}

#mainContent {
width:1000px;
height:auto;
background:#FFF;
min-height:270px;
margin-left:auto;
margin-right:auto;
box-shadow:20px 20px 20px #000;
-moz-border-radius:15px;
border-radius:15px;
overflow:auto;
padding:20px 20px 80px;
}

#raceEvent {
border:#2e1a12 solid 5px;
-moz-box-shadow:10px 10px 5px #888;
-webkit-box-shadow:10px 10px 5px #888;
box-shadow:10px 10px 5px #888;
font-family:"Courier New", Courier, monospace;
margin:10px;
padding:10px;
}

#preview {
width:50%;
float:right;
text-align:center;
}

#controls {
width:50%;
float:left;
text-align:center;
}

body {
background:#CFF;
font-family:"Trebuchet MS", Helvetica, sans-serif;
font-size:12pt;
font-weight:400;
color:#000;
background-image:url(RunSpotPanoramic.jpg);
background-size:100% 100%;
background-repeat:no-repeat;
margin:0;
padding:0;
}

input[type="submit"] {
background:#069;
color:#FFF;
border:#003;
box-shadow:5px 5px 5px #888;
font-family:"Trebuchet MS", Helvetica, sans-serif;
font-size:14px;
margin-top:20px;
margin-bottom:20px;
border-style:solid;
border-width:1px;
padding:5px 20px;
}

input.certificateData {
background:rgba(0,0,0,0);
border:none;
color:#000;
display:inline-block;
}

li {
display:inline;
}

p,ol,ul {
margin-top:0;
}

ol,ul {
list-style:none;
padding:0;
}

p {
line-height:180%;
}

a {
color:#00F;
}

a:hover {
text-decoration:none;
}

.container {
width:1200px;
margin:0 auto;
}

form {
margin-top:20px;
margin-left:10px;
}

form label {
display:block;
text-align:left;
margin-bottom:.5em;
}

form .submit {
margin-top:2em;
background:#8DCB89;
border-radius:8px;
line-height:1.5em;
font-size:1.3em;
}

form input.text,form select,form textarea {
position:relative;
-webkit-appearance:none;
display:block;
background:rgba(255,255,255,0.75);
width:100%;
border-radius:.5em;
box-shadow:inset 0 .1em .1em 0 rgba(0,0,0,0.05);
border:solid 1px #000;
-moz-transition:all .35s ease-in-out;
-webkit-transition:all .35s ease-in-out;
-o-transition:all .35s ease-in-out;
-ms-transition:all .35s ease-in-out;
transition:all .35s ease-in-out;
font-family:'Source Sans Pro', sans-serif;
font-size:1em;
outline:none;
margin:1em 0;
padding:1.5em 1em;
}

form input.text:focus,form select:focus,form textarea:focus {
box-shadow:0 0 2px 1px #E0E0E0;
background:#fff;
}

form textarea {
min-height:12em;
}

form ::-moz-focus-inner {
border:0;
}

#certificate {
border:#2e1a12 solid 20px;
-webkit-border-image:url(wooden.jpg) 200 stretch;
-moz-border-image:url(wooden.jpg) 200 stretch;
border-image:url(wooden.jpg) 200 stretch;
background-color:#ffc;
color:#000;
-moz-box-shadow:10px 10px 5px #888;
-webkit-box-shadow:10px 10px 5px #888;
box-shadow:10px 10px 5px #888;
margin:10px;
padding:10px;
}

.image {
display:inline-block;
border:1px solid rgba(0,0,0,.1);
}

.image img {
display:block;
width:100%;
}

.image-full {
display:block;
width:100%;
margin:0 0 3em;
}

.image-left {
float:left;
margin:0 2em 2em 0;
}

.image-centered {
display:block;
margin:0 0 2em;
}

.image-centered img {
width:auto;
margin:0 auto;
}

ul.contact {
list-style:none;
margin:0;
padding:2em 0 0;
}

ul.contact li {
display:inline-block;
font-size:1.5em;
padding:0 .3em;
}

ul.contact li span {
display:none;
margin:0;
padding:0;
}

ul.contact li a {
color:#FFF;
}

ul.contact li a:before {
display:inline-block;
background:#333;
width:80px;
height:80px;
line-height:80px;
border-radius:40px;
text-align:center;
color:#FFF;
}

.button {
display:inline-block;
margin-top:2em;
background:#8DCB89;
border-radius:8px;
letter-spacing:.2em;
line-height:1.8em;
text-decoration:none;
text-transform:uppercase;
font-weight:400;
font-size:1.2em;
color:#FFF;
padding:1em 2em;
}

.button:before {
display:inline-block;
background:#8DCB89;
margin-right:1em;
width:40px;
height:40px;
line-height:40px;
border-radius:20px;
text-align:center;
color:#272925;
}

.button-small {
background:#8DCB89;
border-radius:5px;
line-height:1.8em;
font-size:1em;
padding:.9em 2em;
}

.title {
margin-bottom:3em;
}

.title h2 {
font-size:2.8em;
color:rgba(255,255,255,0.9);
}

.title .byline {
letter-spacing:.15em;
text-transform:uppercase;
font-weight:400;
font-size:1.1em;
color:#6F6F6F;
}

#header-wrapper {
overflow:hidden;
background:#8DCB89;
padding:5em 0;
}

#menu {
margin:0;
padding:0;
}

#menu ul {
text-align:center;
}

#menu li {
display:inline-block;
}

#menu li a,#menu li span {
display:inline-block;
margin-left:.5em;
letter-spacing:.2em;
text-decoration:none;
font-size:.9em;
font-weight:600;
text-transform:uppercase;
outline:0;
color:#FFF;
padding:1em 1.5em;
}

#menu .current_page_item a {
background:#6FC06A;
border-radius:8px;
color:#FFF;
}

footer {
width:100%;
height:40px;
text-align:center;
background:#000;
color:#FFF;
bottom:0;
left:0;
position:absolute;
}

input[type=button],input[type=submit] {
background-color:#7fbf4d;
background-image:linear-gradient(top,#7fbf4d,#63a62f);
border:1px solid #63a62f;
border-bottom:1px solid #5b992b;
border-radius:3px;
-webkit-box-shadow:inset 0 1px 0 0 #96ca6d;
box-shadow:inset 0 1px 0 0 #96ca6d;
color:#fff;
font:bold 12px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
position:relative;
top:-1px;
text-align:center;
text-shadow:0 -1px 0 #4c9021;
display:inline-block;
padding:6px 0;
}

input[type=button]:hover {
background-color:#76b347;
background-image:linear-gradient(top,#76b347,#5e9e2e);
-webkit-box-shadow:inset 0 1px 0 0 #8dbf67;
box-shadow:inset 0 1px 0 0 #8dbf67;
cursor:pointer;
}

input[type=button]:active {
border:1px solid #5b992b;
border-bottom:1px solid #538c27;
-webkit-box-shadow:inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
box-shadow:inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
}

input.clearPRButton {
height:20px;
padding-top:0;
width:140px;
margin:0;
}

table#certificate {
border:#2e1a12 solid 20px;
-webkit-border-image:url(images/wooden.jpg) 200 stretch;
-moz-border-image:url(images/wooden.jpg) 200 stretch;
border-image:url(images/wooden.jpg) 200 stretch;
background-color:#ffc;
color:#000;
-moz-box-shadow:10px 10px 5px #888;
-webkit-box-shadow:10px 10px 5px #888;
box-shadow:10px 10px 5px #888;
margin:10px;
padding:10px;
}

table.clearPRs {
margin-top:100px;
margin-bottom:70px;
margin-right:0;
padding:0;
}

table.calculator {
background-color:#FFF;
}

#calcErrorHandling {
color:red;
background:#fff;
border-color:blue;
border-width:5px;
}

form .formerize-placeholder,form ::-webkit-input-placeholder,form :-moz-placeholder,form ::-moz-placeholder,form :-ms-input-placeholder {
color:#555!important;
}